# Matching

Данила Солтык, Telegram: [t.me/Danspers](https://t.me/Danspers)

## Описание проекта

**Matching** - это задача поиска и сопоставления двух объектов из разных наборов данных. Такая потребность возникла у маркетплейса, который имеет большой перечен товаров для продажи. На склад стали поступать новые партии товаров, которые имеет небольшие отличия в характеристиках. Технически, это выглядит как совершенно новые товары. Фактически это те эе товары, которые уже продаются на маркетплейсе. Задача сопоставить и связать новые товары со старыми, пользуясь совпадающими характеристиками.

**Что надо сделать?**
- разработать алгоритм, который для всех товаров из _validation.csv_ предложит несколько вариантов наиболее похожих товаров из base;
- оценить качество алгоритма по метрике `accuracy@5`.

$$
accuracy@n = \frac{\text{кол-во верных соотношений (из n предложенных)}} {\text{общее кол-во объектов}} * 100\%
$$

Именно в _предложении 5 кандидатов_ для соотношения и заключается отличительная черта данной метрики.

**Данные:** [источник](https://disk.yandex.ru/d/BBEphK0EHSJ5Jw)

- *base.csv* - анонимизированный набор товаров. Каждый товар представлен как уникальный id (0-base, 1-base, 2-base) и вектор признаков размерностью 72.
- *train.csv -* обучающий датасет. Каждая строчка - один товар, для которого известен уникальный id (0-query, 1-query, …) , вектор признаков И id товара из *base.csv*, который максимально похож на него (по мнению экспертов).
- *validation.csv* - датасет с товарами (уникальный id и вектор признаков), для которых надо найти наиболее близкие товары из *base.csv*
- *validation_answer.csv* - правильные ответы к предыдущему файлу.

**План работы:**
- Загрузить данные
- Понять задачу
- Подготовить данные
- Обучить модель (поиск ближайших соседей + ранжирование top-5)
- Измерить качество
- git commit
- Сделать лучше!

[Notion](https://praktikum.notion.site/06a8d64f2b2e429d8738fff6e2bcf371)

___

## Подготовка

В библиотеке [Scikit-Learn](https://scikit-learn.org/stable/modules/neighbors.html#unsupervised-neighbors) существует метод поиска ближайших соседей, но весьма ресурсоёмкий из-за высокой точности вычислений. Поскольку исходный датасет имеет большой объём и абсолютная точность вычислений ближайших объектов не требуется, в этом проекте будет использована библиотека [Faiss](https://faiss.ai/index.html).

In [25]:
# импорт библиотек
import faiss
import numpy as np
import pandas as pd
#from tqdm.notebook import tqdm

Чтение датасетов, индексами в которых являются **id** товаров: `0-base, 1-base, 2-base, ... или 0-query, 1-query, ...`

In [26]:
df_base  = pd.read_csv('datasets/base.csv', index_col=0)
df_train = pd.read_csv('datasets/train.csv', index_col=0)
df_valid = pd.read_csv('datasets/validation.csv', index_col=0)
df_valid_ans = pd.read_csv('datasets/validation_answer.csv', index_col=0)

## Анализ данных

`Base` - набор из всех товаров (когда либо продававшихся на маркетплейсе) и 72 колонки с их характеристиками. Фактическое значение этих характеристик не имеет значения в рамках этого проекта. Эти данные прошли предварительную обработку (анонимизацию). По этой причине значения выглядят совершенно абстрактными на первый взгляд.

In [27]:
display(df_base.head())
print(df_base.info(verbose=True, show_counts=True))
print('Кол-во товаров-дубликатов:', df_base.duplicated().sum())

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
Id,,,,,,,,,,,,,,,,,,,,,
0-base,-115.083890,11.152912,-64.426760,-118.88089,216.482440,-104.698060,-469.070588,44.348083,120.915344,181.449700,...,-42.808693,38.800827,-151.76218,-74.389090,63.66634,-4.703861,92.933610,115.269190,-112.756640,-60.830353
1-base,-34.562202,13.332763,-69.787610,-166.53348,57.680607,-86.098370,-85.076666,-35.637436,119.718636,195.234190,...,-117.767525,41.100000,-157.82940,-94.446806,68.20211,24.346846,179.937930,116.834000,-84.888941,-59.524610
2-base,-54.233746,6.379371,-29.210136,-133.41383,150.895830,-99.435326,52.554795,62.381706,128.951450,164.381470,...,-76.397800,46.011803,-207.14442,127.325570,65.56618,66.325680,81.073490,116.594154,-1074.464888,-32.527206
3-base,-87.520130,4.037884,-87.803030,-185.06763,76.369540,-58.985165,-383.182845,-33.611237,122.031910,136.233580,...,-70.647940,-6.358921,-147.20105,-37.692750,66.20289,-20.566910,137.206940,117.474100,-1074.464888,-72.915490
4-base,-72.743850,6.522049,43.671265,-140.60803,5.820023,-112.074080,-397.711282,45.182500,122.167180,112.119064,...,-57.199104,56.642403,-159.35184,85.944724,66.76632,-2.505783,65.315285,135.051590,-1074.464888,0.319401

<class 'pandas.core.frame.DataFrame'>
Index: 2918139 entries, 0-base to 4744766-base
Data columns (total 72 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       2918139 non-null  float64
 1   1       2918139 non-null  float64
 2   2       2918139 non-null  float64
 3   3       2918139 non-null  float64
 4   4       2918139 non-null  float64
 5   5       2918139 non-null  float64
 6   6       2918139 non-null  float64
 7   7       2918139 non-null  float64
 8   8       2918139 non-null  float64
 9   9       2918139 non-null  float64
 10  10      2918139 non-null  float64
 11  11      2918139 non-null  float64
 12  12      2918139 non-null  float64
 13  13      2918139 non-null  float64
 14  14      2918139 non-null  float64
 15  15      2918139 non-null  float64
 16  16      2918139 non-null  float64
 17  17      2918139 non-null  float64
 18  18      2918139 non-null  float64
 19  19      2918139 non-null  float64
 20  20      2918139 non-null  float64
 21  21      2918139 non-null  float64
 22  22      2918139 non-null  float64
 23  23      2918139 non-null  float64
 24  24      2918139 non-null  float64
 25  25      2918139 non-null  float64
 26  26      2918139 non-null  float64
 27  27      2918139 non-null  float64
 28  28      2918139 non-null  float64
 29  29      2918139 non-null  float64
 30  30      2918139 non-null  float64
 31  31      2918139 non-null  float64
 32  32      2918139 non-null  float64
 33  33      2918139 non-null  float64
 34  34      2918139 non-null  float64
 35  35      2918139 non-null  float64
 36  36      2918139 non-null  float64
 37  37      2918139 non-null  float64
 38  38      2918139 non-null  float64
 39  39      2918139 non-null  float64
 40  40      2918139 non-null  float64
 41  41      2918139 non-null  float64
 42  42      2918139 non-null  float64
 43  43      2918139 non-null  float64
 44  44      2918139 non-null  float64
 45  45      2918139 non-null  float64
 46  46      2918139 non-null  float64
 47  47      2918139 non-null  float64
 48  48      2918139 non-null  float64
 49  49      2918139 non-null  float64
 50  50      2918139 non-null  float64
 51  51      2918139 non-null  float64
 52  52      2918139 non-null  float64
 53  53      2918139 non-null  float64
 54  54      2918139 non-null  float64
 55  55      2918139 non-null  float64
 56  56      2918139 non-null  float64
 57  57      2918139 non-null  float64
 58  58      2918139 non-null  float64
 59  59      2918139 non-null  float64
 60  60      2918139 non-null  float64
 61  61      2918139 non-null  float64
 62  62      2918139 non-null  float64
 63  63      2918139 non-null  float64
 64  64      2918139 non-null  float64
 65  65      2918139 non-null  float64
 66  66      2918139 non-null  float64
 67  67      2918139 non-null  float64
 68  68      2918139 non-null  float64
 69  69      2918139 non-null  float64
 70  70      2918139 non-null  float64
 71  71      2918139 non-null  float64
dtypes: float64(72)
memory usage: 1.6+ GB
None
Кол-во товаров-дубликатов: 0

`Train` - набор из товаров новых поставок, для которых известны соответствующие товары из "старого" датасета base. ID этого товара содержится в отдельном датасете target.

In [28]:
display(df_train.head())
df_train.info()
print('Кол-во товаров-дубликатов:', df_train.duplicated().sum())

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
Id,,,,,,,,,,,,,,,,,,,,,
0-query,-53.882748,17.971436,-42.117104,-183.93668,187.517490,-87.144930,-347.360606,38.307602,109.085560,30.413513,...,-105.427820,70.107360,-155.80257,-101.965943,65.903790,34.457500,62.642094,134.763600,-415.750254,-25.958572
1-query,-87.776370,6.806268,-32.054546,-177.26039,120.803330,-83.810590,-94.572749,-78.433090,124.915900,140.331070,...,-40.812233,4.669178,-151.69771,-1.638704,68.170876,25.096191,89.974976,130.589630,-1035.092211,-51.276833
2-query,-49.979565,3.841486,-116.118590,-180.40198,190.128430,-50.837620,26.943937,-30.447489,125.771164,211.607820,...,-52.031662,78.039764,-169.14620,82.144186,66.008220,18.400496,212.409730,121.931470,-1074.464888,-22.547178
3-query,-47.810562,9.086598,-115.401695,-121.01136,94.652840,-109.255410,-775.150134,79.186520,124.003100,242.650650,...,-61.567047,44.515266,-145.41675,93.990981,64.131350,106.061920,83.178760,118.277725,-1074.464888,-19.902788
4-query,-79.632126,14.442886,-58.903397,-147.05254,57.127068,-16.239529,-321.317964,45.984676,125.941284,103.392670,...,-68.770600,45.028910,-196.09207,-117.626337,66.926220,42.456170,77.621765,92.479930,-1074.464888,-21.149351

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0-query to 99999-query
Data columns (total 72 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  float64
 1   1       100000 non-null  float64
 2   2       100000 non-null  float64
 3   3       100000 non-null  float64
 4   4       100000 non-null  float64
 5   5       100000 non-null  float64
 6   6       100000 non-null  float64
 7   7       100000 non-null  float64
 8   8       100000 non-null  float64
 9   9       100000 non-null  float64
 10  10      100000 non-null  float64
 11  11      100000 non-null  float64
 12  12      100000 non-null  float64
 13  13      100000 non-null  float64
 14  14      100000 non-null  float64
 15  15      100000 non-null  float64
 16  16      100000 non-null  float64
 17  17      100000 non-null  float64
 18  18      100000 non-null  float64
 19  19      100000 non-null  float64
 20  20      100000 non-null  float64
 21  21      100000 non-null  float64
 22  22      100000 non-null  float64
 23  23      100000 non-null  float64
 24  24      100000 non-null  float64
 25  25      100000 non-null  float64
 26  26      100000 non-null  float64
 27  27      100000 non-null  float64
 28  28      100000 non-null  float64
 29  29      100000 non-null  float64
 30  30      100000 non-null  float64
 31  31      100000 non-null  float64
 32  32      100000 non-null  float64
 33  33      100000 non-null  float64
 34  34      100000 non-null  float64
 35  35      100000 non-null  float64
 36  36      100000 non-null  float64
 37  37      100000 non-null  float64
 38  38      100000 non-null  float64
 39  39      100000 non-null  float64
 40  40      100000 non-null  float64
 41  41      100000 non-null  float64
 42  42      100000 non-null  float64
 43  43      100000 non-null  float64
 44  44      100000 non-null  float64
 45  45      100000 non-null  float64
 46  46      100000 non-null  float64
 47  47      100000 non-null  float64
 48  48      100000 non-null  float64
 49  49      100000 non-null  float64
 50  50      100000 non-null  float64
 51  51      100000 non-null  float64
 52  52      100000 non-null  float64
 53  53      100000 non-null  float64
 54  54      100000 non-null  float64
 55  55      100000 non-null  float64
 56  56      100000 non-null  float64
 57  57      100000 non-null  float64
 58  58      100000 non-null  float64
 59  59      100000 non-null  float64
 60  60      100000 non-null  float64
 61  61      100000 non-null  float64
 62  62      100000 non-null  float64
 63  63      100000 non-null  float64
 64  64      100000 non-null  float64
 65  65      100000 non-null  float64
 66  66      100000 non-null  float64
 67  67      100000 non-null  float64
 68  68      100000 non-null  float64
 69  69      100000 non-null  float64
 70  70      100000 non-null  float64
 71  71      100000 non-null  float64
dtypes: float64(72)
memory usage: 55.7+ MB
Кол-во товаров-дубликатов: 0

`Valid` - набор из товаров новых поставок, для которых НЕ известны соответствующие товары и их необходимо найти.

In [29]:
display(df_valid.head())
df_valid.info()
print('Кол-во товаров-дубликатов:', df_valid.duplicated().sum())

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
Id,,,,,,,,,,,,,,,,,,,,,
100000-query,-57.372734,3.597752,-13.213642,-125.92679,110.74594,-81.279594,-461.003172,139.815720,112.880980,75.215750,...,-75.51302,52.830902,-143.43945,59.051935,69.28224,61.927513,111.59253,115.140656,-1099.130485,-117.079360
100001-query,-53.758705,12.790300,-43.268543,-134.41762,114.44991,-90.520130,-759.626065,63.995087,127.117905,53.128998,...,-79.44183,29.185436,-168.60590,-82.872443,70.76560,-65.975950,97.07716,123.391640,-744.442332,-25.009320
100002-query,-64.175095,-3.980927,-7.679249,-170.16093,96.44616,-62.377740,-759.626065,87.477554,131.270110,168.920320,...,-134.79541,37.368730,-159.66231,-119.232725,67.71044,86.002060,137.63641,141.081630,-294.052271,-70.969604
100003-query,-99.286860,16.123936,9.837166,-148.06044,83.69708,-133.729720,58.576403,-19.046660,115.042404,75.206730,...,-77.23611,44.100494,-132.53012,-106.318982,70.88396,23.577892,133.18396,143.252940,-799.363667,-89.392670
100004-query,-79.532920,-0.364173,-16.027431,-170.88495,165.45392,-28.291668,33.931936,34.411217,128.903980,102.086914,...,-123.77025,45.635944,-134.25893,13.735359,70.61763,15.332115,154.56812,101.700640,-1171.892332,-125.307890

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 100000-query to 199999-query
Data columns (total 72 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  float64
 1   1       100000 non-null  float64
 2   2       100000 non-null  float64
 3   3       100000 non-null  float64
 4   4       100000 non-null  float64
 5   5       100000 non-null  float64
 6   6       100000 non-null  float64
 7   7       100000 non-null  float64
 8   8       100000 non-null  float64
 9   9       100000 non-null  float64
 10  10      100000 non-null  float64
 11  11      100000 non-null  float64
 12  12      100000 non-null  float64
 13  13      100000 non-null  float64
 14  14      100000 non-null  float64
 15  15      100000 non-null  float64
 16  16      100000 non-null  float64
 17  17      100000 non-null  float64
 18  18      100000 non-null  float64
 19  19      100000 non-null  float64
 20  20      100000 non-null  float64
 21  21      100000 non-null  float64
 22  22      100000 non-null  float64
 23  23      100000 non-null  float64
 24  24      100000 non-null  float64
 25  25      100000 non-null  float64
 26  26      100000 non-null  float64
 27  27      100000 non-null  float64
 28  28      100000 non-null  float64
 29  29      100000 non-null  float64
 30  30      100000 non-null  float64
 31  31      100000 non-null  float64
 32  32      100000 non-null  float64
 33  33      100000 non-null  float64
 34  34      100000 non-null  float64
 35  35      100000 non-null  float64
 36  36      100000 non-null  float64
 37  37      100000 non-null  float64
 38  38      100000 non-null  float64
 39  39      100000 non-null  float64
 40  40      100000 non-null  float64
 41  41      100000 non-null  float64
 42  42      100000 non-null  float64
 43  43      100000 non-null  float64
 44  44      100000 non-null  float64
 45  45      100000 non-null  float64
 46  46      100000 non-null  float64
 47  47      100000 non-null  float64
 48  48      100000 non-null  float64
 49  49      100000 non-null  float64
 50  50      100000 non-null  float64
 51  51      100000 non-null  float64
 52  52      100000 non-null  float64
 53  53      100000 non-null  float64
 54  54      100000 non-null  float64
 55  55      100000 non-null  float64
 56  56      100000 non-null  float64
 57  57      100000 non-null  float64
 58  58      100000 non-null  float64
 59  59      100000 non-null  float64
 60  60      100000 non-null  float64
 61  61      100000 non-null  float64
 62  62      100000 non-null  float64
 63  63      100000 non-null  float64
 64  64      100000 non-null  float64
 65  65      100000 non-null  float64
 66  66      100000 non-null  float64
 67  67      100000 non-null  float64
 68  68      100000 non-null  float64
 69  69      100000 non-null  float64
 70  70      100000 non-null  float64
 71  71      100000 non-null  float64
dtypes: float64(72)
memory usage: 55.7+ MB
Кол-во товаров-дубликатов: 0

`Valid_answer` - верные соответствующие товары для выборки Valid. Необходимо для тестирования обученной модели.

In [30]:
display(df_valid_ans.head())
df_valid_ans.info()
print('Кол-во товаров-дубликатов:', df_valid_ans.duplicated().sum())

                  Expected
Id
100000-query  2676668-base
100001-query    91606-base
100002-query   472256-base
100003-query  3168654-base
100004-query    75484-base

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 100000-query to 199999-query
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Expected  100000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB
Кол-во товаров-дубликатов: 8498

**Промежуточный вывод:**

Тип данных - соответствует.

Пропуски в данных - отсутствуют.

Выбросы / аномалии - ?

Дубликаты - отсутствуют, за исключением `Valid_answer`. Это может говорить, что одному и тому же "старому" товару, может соответствовать несколько "новых".

Масштабирование / нормализация данных -?

___

##  Поиск ближайших соседей

Принцип работы [Faiss](https://faiss.ai/index.html):
1. Отображение всех объектов (векторов) в едином пространстве
2. Деление полученного пространства на отдельные части (кластеры) при помощи спец. алгоритма библиотеки
3. Для каждого кластера происходит поиск его центра (центроида)
4. Таким образом, для нового вектора можно быстрой найти ближайших соседей, вычислив расстояние именно до центроидов (не перемножая новый вектор со всеми остальными векторами).
5. После выявления ближайшего кластера, новый вектор перемножается векторами только из этого кластера.

`FlatL2` - мера близости вектором L2-норма (евклидово расстояние). По этой причине большое значение имеет "нормализованы ли признаки?", поскольку в этой ситуации признак бóльшей величины будет играть бóльшую роль в предсказании. Но это не отображает достоверность его значимость.

`quantizer` - квантизатор, который получает на вход вектора размерностью `dimensions` и рассчитывает расстояние между ними по евклидовой норме.

`idx_l2` - пространство векторов размерностью `dimensions`, разделяемое на `n_cells` кластеров с помощью `quantizer`.

In [31]:

dimensions = df_base.shape[1] # n-мерность векторов
n_cells = 15 # кол-во кластеров на которые делится всё векторное пространство

quantizer = faiss.IndexFlatL2(dimensions)
idx_l2 = faiss.IndexIVFFlat(quantizer, dimensions, n_cells)

Функция `np.ascontiguousarray()` располагает последовательно весь массив данных в оперативной памяти.

In [32]:
# обучение делителя пространства на первых 50 тысячах объектов из df_base
idx_l2.train(np.ascontiguousarray(df_base.values[:50000, :]).astype('float32'))

# деление всех векторов по правилам, сформированным на предыдущем шаге 
idx_l2.add(np.ascontiguousarray(df_base.values).astype('float32'))

In [ ]:
# выделение цел. признака в отдельный датасет
targets = df_train["Target"]
df_train.drop("Target", axis=1, inplace=True)

Далее следует **процесс поиска** соседей. Дословно строчка кода звучит так: для каждого вектора из `df_train` найди по 5 ближайших векторов из `df_base` (которые уже размечены на отдельные кластеры). Результатом являются:
- `idx` - порядковые номера ближайших векторов, и
- `vectors` - значения этих векторов.

Этот процесс может быть долгим. Ориентировочное время поиска: 10 - 5 минут (для CPU). Время вычисления сильно зависит от кол-ва кластеров.

In [33]:
top_count = 5 # количество кандидатов на сопоставление
vectors, idx = idx_l2.search(np.ascontiguousarray(df_train.values).astype('float32'), top_count)

print('Примеры idx :\n', idx[:3], '\n')
print('Примеры vectors :\n', vectors[:3])

Примеры idx :
 [[1480698  161948 1076334 1282393 2906566]
 [ 445586  920175 2168908 2651198  546230]
 [1659033  760940  656828 1052397 1392119]]

Примеры vectors :
 [[108182.35  116295.55  125482.26  142215.5   145022.52 ]
 [102827.21  116681.83  120689.08  122624.29  122806.875]
 [ 54918.504  57053.156  57339.785  61338.43   61677.61 ]]

Для сопоставления порядкового номера вектора (`161948`) и id товара (`'161948-base'`), необходимо создать словарь:

In [34]:
base_index = {k: v for k, v in enumerate(df_base.index.to_list())}

print('Пример содержания словаря:\n', list(base_index.items())[0:3])

Пример содержания словаря:
 [(0, '0-base'), (1, '1-base'), (2, '2-base')]

`targets` - список `id` товаров, подходящих по мнению экспертов. (одномерный массив)

`idx` - наборы из top-5 кандидатов на соответствие, предсказанных **МБС** (метод ближайших соседей). Для получения `id` товара, нужно указать числовой индекс в словаре `base_index`.

In [39]:
acc = 0
for target, candidates in zip(targets.values.tolist(), idx.tolist()):
    acc += int(target in [base_index[number] for number in candidates])

print('accuracy@5: {}%'.format(acc / len(idx) * 100))

accuracy@5: 11.645%

На этом этапе получилось найти top-5 кандидатов для сопоставления. Теперь среди них необходимо выявить самый подходящий. Для этого всех кандидатов необходимо отранжировать.

## Ранжирование