# Matching

## –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

**–ß—Ç–æ –Ω–∞–¥–æ —Å–¥–µ–ª–∞—Ç—å?**
- —Ä–∞–∑—Ä–∞–±–æ—Ç–∞—Ç—å –∞–ª–≥–æ—Ä–∏—Ç–º, –∫–æ—Ç–æ—Ä—ã–π –¥–ª—è –≤—Å–µ—Ö —Ç–æ–≤–∞—Ä–æ–≤ –∏–∑ validation.csv –ø—Ä–µ–¥–ª–æ–∂–∏—Ç –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ –Ω–∞–∏–±–æ–ª–µ–µ –ø–æ—Ö–æ–∂–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤ –∏–∑ base;
- –æ—Ü–µ–Ω–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –∞–ª–≥–æ—Ä–∏—Ç–º–∞ –ø–æ –º–µ—Ç—Ä–∏–∫–µ accuracy@5.

**–î–∞–Ω–Ω—ã–µ:** [–∏—Å—Ç–æ—á–Ω–∏–∫](https://disk.yandex.ru/d/BBEphK0EHSJ5Jw)

- *base.csv* - –∞–Ω–æ–Ω–∏–º–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –Ω–∞–±–æ—Ä —Ç–æ–≤–∞—Ä–æ–≤. –ö–∞–∂–¥—ã–π —Ç–æ–≤–∞—Ä –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω –∫–∞–∫ —É–Ω–∏–∫–∞–ª—å–Ω—ã–π id (0-base, 1-base, 2-base) –∏ –≤–µ–∫—Ç–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å—é 72.
- *train.csv -* –æ–±—É—á–∞—é—â–∏–π –¥–∞—Ç–∞—Å–µ—Ç. –ö–∞–∂–¥–∞—è —Å—Ç—Ä–æ—á–∫–∞ - –æ–¥–∏–Ω —Ç–æ–≤–∞—Ä, –¥–ª—è –∫–æ—Ç–æ—Ä–æ–≥–æ –∏–∑–≤–µ—Å—Ç–µ–Ω —É–Ω–∏–∫–∞–ª—å–Ω—ã–π id (0-query, 1-query, ‚Ä¶) , –≤–µ–∫—Ç–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –ò id —Ç–æ–≤–∞—Ä–∞ –∏–∑ *base.csv*, –∫–æ—Ç–æ—Ä—ã–π –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –ø–æ—Ö–æ–∂ –Ω–∞ –Ω–µ–≥–æ (–ø–æ –º–Ω–µ–Ω–∏—é —ç–∫—Å–ø–µ—Ä—Ç–æ–≤).
- *validation.csv* - –¥–∞—Ç–∞—Å–µ—Ç —Å —Ç–æ–≤–∞—Ä–∞–º–∏ (—É–Ω–∏–∫–∞–ª—å–Ω—ã–π id –∏ –≤–µ–∫—Ç–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤), –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–∞–¥–æ –Ω–∞–π—Ç–∏ –Ω–∞–∏–±–æ–ª–µ–µ –±–ª–∏–∑–∫–∏–µ —Ç–æ–≤–∞—Ä—ã –∏–∑ *base.csv*
- *validation_answer.csv* - –ø—Ä–∞–≤–∏–ª—å–Ω—ã–µ –æ—Ç–≤–µ—Ç—ã –∫ –ø—Ä–µ–¥—ã–¥—É—â–µ–º—É —Ñ–∞–π–ª—É.

üî∏ –ó–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ
üî∏ –ü–æ–Ω—è—Ç—å –∑–∞–¥–∞—á—É
üî∏ –ü–æ–¥–≥–æ—Ç–æ–≤–∏—Ç—å –¥–∞–Ω–Ω—ã–µ
üî∏ –û–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å
üî∏ –ò–∑–º–µ—Ä–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ
üî∏ git commit
üî∏ –°–¥–µ–ª–∞—Ç—å –ª—É—á—à–µ!

## –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞

–í –±–∏–±–ª–∏–æ—Ç–µ–∫–µ `Scikit-Learn` —Å—É—â–µ—Å—Ç–≤—É–µ—Ç –º–µ—Ç–æ–¥ –ø–æ–∏—Å–∫–∞ –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π, –Ω–æ –≤–µ—Å—å–º–∞ —Ä–µ—Å—É—Ä—Å–æ—ë–º–∫–∏–π –∏–∑-–∑–∞ –≤—ã—Å–æ–∫–æ–π —Ç–æ—á–Ω–æ—Å—Ç–∏ –≤—ã—á–∏—Å–ª–µ–Ω–∏–π. –ü–æ—Å–∫–æ–ª—å–∫—É –∏—Å—Ö–æ–¥–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç –∏–º–µ–µ—Ç –±–æ–ª—å—à–æ–π –æ–±—ä—ë–º –∏ –∞–±—Å–æ–ª—é—Ç–Ω–∞—è —Ç–æ—á–Ω–æ—Å—Ç—å –≤—ã—á–∏—Å–ª–µ–Ω–∏–π –±–ª–∏–∂–∞–π—à–∏—Ö –æ–±—ä–µ–∫—Ç–æ–≤ –Ω–µ —Ç—Ä–µ–±—É–µ—Ç—Å—è, –≤ —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ –±—É–¥–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ `faiss`.

In [16]:
import faiss
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [17]:
df_base = pd.read_csv('datasets/base.csv', index_col=0)
display(df_base.head())

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
Id,,,,,,,,,,,,,,,,,,,,,
0-base,-115.083890,11.152912,-64.426760,-118.88089,216.482440,-104.698060,-469.070588,44.348083,120.915344,181.449700,...,-42.808693,38.800827,-151.76218,-74.389090,63.66634,-4.703861,92.933610,115.269190,-112.756640,-60.830353
1-base,-34.562202,13.332763,-69.787610,-166.53348,57.680607,-86.098370,-85.076666,-35.637436,119.718636,195.234190,...,-117.767525,41.100000,-157.82940,-94.446806,68.20211,24.346846,179.937930,116.834000,-84.888941,-59.524610
2-base,-54.233746,6.379371,-29.210136,-133.41383,150.895830,-99.435326,52.554795,62.381706,128.951450,164.381470,...,-76.397800,46.011803,-207.14442,127.325570,65.56618,66.325680,81.073490,116.594154,-1074.464888,-32.527206
3-base,-87.520130,4.037884,-87.803030,-185.06763,76.369540,-58.985165,-383.182845,-33.611237,122.031910,136.233580,...,-70.647940,-6.358921,-147.20105,-37.692750,66.20289,-20.566910,137.206940,117.474100,-1074.464888,-72.915490
4-base,-72.743850,6.522049,43.671265,-140.60803,5.820023,-112.074080,-397.711282,45.182500,122.167180,112.119064,...,-57.199104,56.642403,-159.35184,85.944724,66.76632,-2.505783,65.315285,135.051590,-1074.464888,0.319401

In [18]:
df_train = pd.read_csv('datasets/train.csv', index_col=0)
display(df_train.head())

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,68,69,70,71,Target
Id,,,,,,,,,,,,,,,,,,,,,
0-query,-53.882748,17.971436,-42.117104,-183.93668,187.517490,-87.144930,-347.360606,38.307602,109.085560,30.413513,...,70.107360,-155.80257,-101.965943,65.903790,34.457500,62.642094,134.763600,-415.750254,-25.958572,675816-base
1-query,-87.776370,6.806268,-32.054546,-177.26039,120.803330,-83.810590,-94.572749,-78.433090,124.915900,140.331070,...,4.669178,-151.69771,-1.638704,68.170876,25.096191,89.974976,130.589630,-1035.092211,-51.276833,366656-base
2-query,-49.979565,3.841486,-116.118590,-180.40198,190.128430,-50.837620,26.943937,-30.447489,125.771164,211.607820,...,78.039764,-169.14620,82.144186,66.008220,18.400496,212.409730,121.931470,-1074.464888,-22.547178,1447819-base
3-query,-47.810562,9.086598,-115.401695,-121.01136,94.652840,-109.255410,-775.150134,79.186520,124.003100,242.650650,...,44.515266,-145.41675,93.990981,64.131350,106.061920,83.178760,118.277725,-1074.464888,-19.902788,1472602-base
4-query,-79.632126,14.442886,-58.903397,-147.05254,57.127068,-16.239529,-321.317964,45.984676,125.941284,103.392670,...,45.028910,-196.09207,-117.626337,66.926220,42.456170,77.621765,92.479930,-1074.464888,-21.149351,717819-base

In [19]:
df_valid = pd.read_csv('datasets/validation.csv')
display(df_valid.head())

,Id,0,1,2,3,4,5,6,7,8,...,62,63,64,65,66,67,68,69,70,71
0,100000-query,-57.372734,3.597752,-13.213642,-125.92679,110.74594,-81.279594,-461.003172,139.815720,112.880980,...,-75.51302,52.830902,-143.43945,59.051935,69.28224,61.927513,111.59253,115.140656,-1099.130485,-117.079360
1,100001-query,-53.758705,12.790300,-43.268543,-134.41762,114.44991,-90.520130,-759.626065,63.995087,127.117905,...,-79.44183,29.185436,-168.60590,-82.872443,70.76560,-65.975950,97.07716,123.391640,-744.442332,-25.009320
2,100002-query,-64.175095,-3.980927,-7.679249,-170.16093,96.44616,-62.377740,-759.626065,87.477554,131.270110,...,-134.79541,37.368730,-159.66231,-119.232725,67.71044,86.002060,137.63641,141.081630,-294.052271,-70.969604
3,100003-query,-99.286860,16.123936,9.837166,-148.06044,83.69708,-133.729720,58.576403,-19.046660,115.042404,...,-77.23611,44.100494,-132.53012,-106.318982,70.88396,23.577892,133.18396,143.252940,-799.363667,-89.392670
4,100004-query,-79.532920,-0.364173,-16.027431,-170.88495,165.45392,-28.291668,33.931936,34.411217,128.903980,...,-123.77025,45.635944,-134.25893,13.735359,70.61763,15.332115,154.56812,101.700640,-1171.892332,-125.307890

In [20]:
df_valid_ans = pd.read_csv('datasets/validation_answer.csv')
display(df_valid_ans.head())

             Id      Expected
0  100000-query  2676668-base
1  100001-query    91606-base
2  100002-query   472256-base
3  100003-query  3168654-base
4  100004-query    75484-base

### Create index

In [21]:
dims = df_base.shape[1]
n_cells = 1

# how many cells
quantizer = faiss.IndexFlatL2(dims)
idx_l2 = faiss.IndexIVFFlat(quantizer, dims, n_cells)

In [22]:
idx_l2.train(np.ascontiguousarray(df_base.values[:50000, :]).astype('float32'))

idx_l2.add(np.ascontiguousarray(df_base.values).astype('float32'))

In [23]:
base_index = {k: v for k, v in enumerate(df_base.index.to_list())}

#del df_base

# Train

In [24]:
targets = df_train["Target"]
df_train.drop("Target", axis=1, inplace=True)

In [25]:
vecs, idx = idx_l2.search(np.ascontiguousarray(df_train.values).astype('float32'), 5) # 55 –º–∏–Ω—É—Ç - CPU

In [26]:
acc = 0
for target, el in zip(targets.values.tolist(), idx.tolist()):
    acc += int(target in [base_index[r] for r in el])

print(100 * acc / len(idx))

13.804